.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2.5rem;
}

.title {
  font-size: 1.5rem;
  line-height: 2rem;
  color: rgb(20 83 45);
}

.card {
  display: grid;
  grid-template-columns: repeat(auto-fill, 20rem);
  width: 100%;
  justify-items: center;
  gap: 1rem;
  margin: 0 auto;
}

.error {
  font-size: 1.5rem;
  line-height: 2rem;
  color: red;
}
