.text {
  font-size: 1.5rem;
  line-height: 2rem;
}

.backButton {
  background-color: rgb(22 101 52);
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --tw-shadow-color: #dcfce7;
  border-radius: 0.75rem;
  border: none;
  text-align: center;
  padding: 0.75rem;
  color: #fff;
  margin: 0 auto;
  margin-top: 1.25rem;
  box-sizing: border-box;
  cursor: pointer;
}

.backButton:hover {
  background-color: rgb(21 128 61);
  transition: color 0.3s ease-in-out;
}
